{%extends "base.html"%}  

{%block title%} Reparto {%endblock%} 

{%block content%} 
    <p> 
        The Office (La oficina en español) es una serie de televisión de comedia estadounidense, adaptada de la serie británica del mismo nombre. Se estrenó en la NBC durante la segunda parte de la temporada televisiva, el 24 de marzo de 2005. Ha ganado premios Primetime Emmy1​ y premios Peabody.2​ La serie trata la vida diaria de los empleados de la oficina de Scranton (Pensilvania) de la compañía de papel ficticia Dunder Mifflin. Aunque la serie es de ficción y tiene guiones, se trata de un falso documental, ya que los actores advierten la presencia de las cámaras.
    </p>

    <p>Reparto:
        Steve Carell, Rainn Wilson, John Krasinski, Jenna Fischer, Ed Helms, B.J. Novak, Ellie Kemper, Leslie David Baker, Brian Baumgartner, Angela Kinsey, Phyllis Smith, Kate Flannery, Mindy Kaling, Creed Bratton, Oscar Nuñez, Paul Lieberstein.
    <p> 
    
{%endblock%} 