{%extends "base.html"%}  

{%block title%} The Office {%endblock%} 

{%block content%} 
    <p> 
        The Office (La oficina en español) es una serie de televisión de comedia estadounidense, adaptada de la serie británica del mismo nombre. Se estrenó en la NBC durante la segunda parte de la temporada televisiva, el 24 de marzo de 2005. Ha ganado premios Primetime Emmy y premios Peabody. La serie trata la vida diaria de los empleados de la oficina de Scranton (Pensilvania) de la compañía de papel ficticia Dunder Mifflin. Aunque la serie es de ficción y tiene guiones, se trata de un falso documental, ya que los actores advierten la presencia de las cámaras.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LHOtME2DL4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{%endblock%} 